<button class="user-menu-button liquid" popovertarget="menu" popovertargetaction="toggle">
    <span class="material-symbols-outlined">account_circle</span>
</button>

<div class="menu" id="menu" popover>
    <a class="menu-item" routerLink="/profile" href="/projects" routerLinkActive="active liquid">
        <span class="material-symbols-outlined">workspaces</span>
        <span class="item__title">Projects</span>
    </a>
    <a class="menu-item" routerLink="/settings" href="/settings" routerLinkActive="active liquid">
        <span class="material-symbols-outlined">settings</span>
        <span class="item__title">Settings</span>
    </a>
    <a class="menu-item" routerLink="/logout" href="/logout">
        <span class="material-symbols-outlined">logout</span>
        <span class="item__title">Logout</span>
    </a>
</div>