<div class="section-header">
    <h2>Files</h2>
    <div class="section-header-actions">
        <view-selector [selectedView]="selectedView()" (viewChange)="onSelectView($event)" />
        <sort-selector [direction]="sortDirection()" (directionChange)="onSelectSortDirection($event)" [type]="sortType()" (typeChange)="onSelectSortType($event)" />
        <files-search />
    </div>
</div>
<path />
@if (files$ | async; as files) {
@if (pathStore.currentPath$ | async; as path) {
    @if (selectedView() === 'list') {
        <list-view [files]="files" (addFolder)="onAddFolder($event, path)"/>
    } @else {
        <grid-view [files]="files" (uploadFile)="onUploadFile($event, path)"/>
    }
}
}