
<section class="top-header liquid-1">
    <div class="left">
        <a class="logo-wrapper" routerLink="/" href="/">
            <img src="images/logo-light.png" alt="Logo" />
        </a>
        <div class="project-name">
            <h3>{{ project()?.name }}</h3>
            <p>{{ project()?.id }}</p>
        </div>
    </div>
    <div>
        <user-menu />
    </div>
</section>
<div class="navigation">
    <a class="item" routerLink="/project/{{ project()?.id }}/" href="/project/{{ project()?.id }}/" routerLinkActive="active liquid" [routerLinkActiveOptions]="{ exact: true }">
        <span class="material-symbols-outlined">dashboard_2</span>
        <span class="item__title">Overview</span>
    </a>
    <a class="item" routerLink="/project/{{ project()?.id }}/files" href="/project/{{ project()?.id }}/files" routerLinkActive="active liquid">
        <span class="material-symbols-outlined">files</span>
        <span class="item__title">Files</span>
    </a>
    <a class="item" routerLink="/project/{{ project()?.id }}/settings" href="/project/{{ project()?.id }}/settings" routerLinkActive="active liquid">
        <span class="material-symbols-outlined">settings</span>
        <span class="item__title">Settings</span>
    </a>
</div>